@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}
body{
    background: #77dd77;
}

.content-body{
    margin: 2rem;
}

a{
    text-decoration: none;
}

.content-all{
    position: relative;
    right: 0;
    transition: 500ms;
}


/*NAVBAR Y ENCABEZADO*/

header{
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: white;

    transition: all 500ms;
}


.move-content{
    right: 180px;
}

.content-header{
    max-width: 75rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0rem 1.25rem;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 9rem;
}

.content-nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;

    transition: 500ms;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0rem 1.25rem;
    list-style: none;
}
nav ul a{
    color:#77dd77;
    font-size: 0.875;
}

.select{
    color: #243324;
    background: #77dd77;
    padding: .625rem 1.875rem;
    border-radius: 1.25rem;
}

.nav-mod{
    height: 4rem;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: #243324;
}

.btn-menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}
.btn-menu:hover{
    background: #CCCCCC;
}


/*COVER*/
.cover{
    width: 100%;
    padding-top: 2.8rem;
}


/*WAVE*/

.bg-color{
    width: 100%;
    height: 100%;
    left: 0;
    background: #FFF;
    position: absolute;
    top: 0;
}

.wave{
    width: 300%;
    height: 100%;
    position: absolute;
    top: 350px;
    background-image: url(../img/wd1.svg);
    background-position: bottom;
}

.w1{
    animation: w1 7s linear infinite;
}

.w2{
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -1s infinite;
    opacity: 0.5;
}

@keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-25px);
    }
    50%{
        transform: translateY(15px);
    }
}

/*FIN WAVE*/



.cover .content-info{
    max-width: 700px;
    margin-top: 50px;
    z-index: 2;
}
.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #243324;
}
.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: #77dd77;
    margin-top: -30px;
}
.cover p{
    margin-top: 10px;
    color: #243324;
}

.cover input[type="button"]{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: #FFF;
    background: #77dd77;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.cover input[type="button"]:hover{
    box-shadow: 1px 1px 30px -5px #20202085;
}

.content-cover{
    max-width: 100%;
    margin: auto;
    background: #FFF;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 0.5rem;

    
}



/*VECTOR*/

.content-vector{
    position: relative;
}
.content-vector img{
    position: absolute;
    bottom: 50px;
    right: 0px;
    width: 400px;
    height: 300px;
    animation: move-vector 6s ease-in-out infinite;

    transition: all 300ms;
}

@keyframes move-vector {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateX(-80px);
    }
    100%{
        transform: translateY(10px);
    }
}



/*BODY*/


.content-cabecera{
    width: 100%;
    max-width: 25rem;
    text-align: center;
    margin: auto;
    position: relative;
}
.content-cabecera h1{
    font-weight: 300;
    color: black;
    margin-top: 1rem;
}
.content-cabecera p{
    margin-top: 1rem;
    color: #243324;
}
.content-cabecera a{
    color: #243324;
    font-weight: 600;
}

.content-logo{
    width: 8rem;
    height: 5rem;
    border-radius: 10%;
    overflow: hidden;
    border: .188rem solid black;
    margin: auto;
}
.content-logo img{
    padding: 0.2rem;
    width: 100%;
    height: 100%;
}


/*LANDING*/


/*MAIN*/


main{
    text-align: center;
    max-width: 62.5rem;
    background: #FFF;
    padding: 2.8rem;
    margin: auto;
    margin-top: 2.5rem;
    border-radius: 0.5rem;
}

/*Content1*/

.content1{
    width: 100%;
    margin-top: 1.5rem;
}
.content1-img{
    width: 100%;
    text-align: center;
}
.content1-img img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    margin: auto;
}
.content1-text{
    width: 100%;
    text-align: center;
}
.content1-text h1{
    margin-top: 2rem;
    font-weight: 100;
}
.content1-text hr{
    width: 10rem;
    height: .2rem;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    background: -moz-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    background: -o-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    margin-top: 1rem;
}
.content1-text p{
    margin-top: 1rem;
    color: #243324;
    font-size: .9rem;
    letter-spacing: .05rem;
}

.btn-leer{
    color: #77dd77;
    width: 8rem;
    padding: 1rem;
    border: 1px solid #77dd77;
    box-shadow: 1px 1px 30px -5px #20202049;
    border-radius: 1rem;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 700ms;
}
.btn-leer:hover{
    background: #77dd77;
    color: white;
    box-shadow: 1px 1px 30px -5px #20202085;    
}

/*Content2*/

.content2{
    width: 100%;
    text-align: center;
}
.content2 h1{
    font-weight: 100;
    margin-top: 1rem;
}

.content2 hr{
    width: 7rem;
    height: .2rem;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    background: -moz-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    background: -o-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    margin-top: 1rem;
}

.content-details{
    width: 100%;
}
.content-details h4{
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 3rem;
}
.content-details p{
    font-size: 1rem;
    margin-top: 1.4rem;
    letter-spacing: .05rem;
    color: #243324;
}

.details-item{
    width: 100%;
    max-width: 25rem;
    margin: auto;
}

.polilactico{
    color: #EFA8B0;
}
.biodegradable{
    color: #A89CC8;
}
.compostaje{
    color: #8CC9F9;
}

.details-icon{
    width: 12.5rem;
    height: 12.5rem;
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-top: 1.8rem;
}

.details-icon span{
    font-size: 5rem;
    border: 1px solid #dddddd;
    border-radius: 50%;
    padding: 3rem;
    margin: auto;
}

/*Content3*/

.content3{
    width: 100%;
    text-align: center;
}
.content3 h1{
    font-weight: 100;
    margin-top: 20px;
}
.content3 hr{
    width: 7rem;
    height: .15rem;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    background: -moz-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    background: -o-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    margin-top: 1rem;
}
.content3 p{
    margin-top: 40px;
    letter-spacing: 1px;
    color: #243324;
}
.content-estadisticas{
    width: 100%;
    margin-top: 2.5rem;
}

.estadisticas-item{
    width: 100%;
    max-width: 22rem;
    margin: auto;
    padding: 40px;
    color: white;
}
.estadisticas-item span{
    font-size: 5rem;
}
.estadisticas-item h4{
    font-weight: 100;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}
.estadisticas-item p{
    color: white;
    margin-top: 0;
}

/*ITEMS PASTELES*/
.item1{
    background: #EFA8B0;
    border-radius: 10px 10px 0px 0px;
}
.item2{
    background: #C79CC8;
}
.item3{
    background: #A89CC8;
}
.item4{
    background: #9BB2E1;
    border-radius: 0px 0px 10px 10px;
}

.content3-p{
    text-align: justify;
}


/*Content4*/

.content4{
    width: 100%;
    text-align: center;
}
.content4 h1{
    font-weight: 100;
    margin-top: 1.2rem;
}
.content4 hr{
    width: 7rem;
    height: .2rem;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    background: -moz-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    background: -o-linear-gradient(left, #EFA8B0, #A89CC8, #8CC9F9);
    margin-top: 1rem;
}
.content4 p{
    margin-top: 2.5rem;
    font-size: 1.2rem;
    color: #243324;
}

.content4-btn{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.content4-btn button{
    width: 12.5rem;
    height: 3.75rem;
    background: #77dd77;
    border-style: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    margin: auto;
    cursor: pointer;
}
.content4-btn button:hover{
    background:white;
    color: #77dd77;
    border: 2px solid #77dd77;
}
.content4-leer{
    margin: auto;
}

/*FOOTER*/

.content-footer{
    width: 100%;
    padding: 4rem 0rem;
    background-image: url(../img/background-footer.svg);
    background-size: cover; 
}

.content-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 6.25rem;
}

.box-footer{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.box-footer-logo img{
    max-width: 11.5rem;
}

.box-footer-texto{
    max-width: 21.875rem;
    margin-top: 1.25rem;
    font-weight: 300;
    color: #7a7a7a;
    font-size: 1.125rem;
}

.box-footer h2{
    margin-bottom: 1.875rem;
    color: #A89CC8;
    font-weight: 700;
}
.box-footer a{
    color: #7a7a7a;
    margin-top: 0.625;
    font-weight: 600;
    padding: .3rem;
}
.box-footer a:hover{
    opacity: 0.8;
}
.box-footer i{
    font-size: 1.25rem;
}

footer hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

.copyright-footer{
    display: flex;
    max-width: 75rem;
    margin: auto;
    padding: 0rem 2.5rem;
}
.copyright-footer p{
    margin: auto;
    margin-top: 1.25rem;
    color: #7a7a7a;
}










/*MEDIASCREEN*/


@media screen and (max-width: 920px) {
    
}


@media screen and  (min-width: 800px){

    .content1{
        display: flex;
        flex-direction: row-reverse;
    }

    .content1-img{
        width: 70%;
    }
    .content1-img img{
        float: right;
        width: 18rem;
        height: 18rem;
    }

    .content-details{
        display: flex;
    }

    .content-estadisticas{
        display: flex;
    }
    .content-estadisticas span{
       font-size: 3rem;
    }

    .item1{
        border-radius: 10px 0px 0px 10px;
    }
    .item4{
        border-radius: 0px 10px 10px 0px;
    }

    .content4{
        width: 100%;
        max-width: 37.5rem;
        margin: auto;
    }

}

@media screen and (max-width: 760px){

    .content-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-menu{
        display: flex;
    }

    nav{
        height: 100%;
        position: fixed;
        top: 0;
        right: -180px;
        padding: 0 40px;
    }

    .move-nav{
        right: 0rem;
    }
    
    nav ul{
        flex-direction: column;
    }

    nav ul li{
        margin: 20px 0px;
    }

    .content-vector img{
        width: 320px;
        height: 220px;
    }
}


@media screen and (max-width: 500px){
    .content-vector img{
        transform: scale(0);
        animation: none;
    }

    .content-all{
        text-align: center;
        justify-content: center;
    }
}


